<h1 class = "text-lg-center logo-title">Recent Questions (<%= @questions.length %>)</h1>
<section class="row questions">
  <div class="col-md-6 col-md-offset-3">
    <ul>
      <% @questions.each do |question| %>
        <li><%= link_to "#{question.title}", question_path(question) %></li>
        <hr>
      <% end %>
    </ul>
  </div>
</section>
<section class="row">
  <div class="col-md-6 col-md-offset-3 text-lg-center paginate-wrapper">
    <%= paginate @questions %>
  </div>
</section>
