<h1 class = "text-lg-center">New Question</h1>
<%# this will look for a partial named "_form" within the same folder as the template. the partial will have access to the same instance variab;es that the template has access to` %>
<%# we can pass local bvariables by passing a has to the partial as in:  %>
<%# render "form", my_var: variable %>
<%# so inside the partial the local variable will be key, not instance variable %>
<%= render "form" %>
