<p>Hello <%= @owner.full_name %></p>

<p>You've gotten an answer to your question: </p>

<p>Question title: <%= @question.title %></p>
<p>The answer <%= @answer.body %></p>

<p>Regards,</p>
<p><strong>AwesomeAnwsers Team</strong></p>
