<% if flash %>
  <section class="container">
    <% flash.each do | message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end  %>
  </section>
<% end %>

<!-- <div class="container">
  <% flash.each do |message_type, message | %>
  <%=content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
</div> -->
<!-- <%= notice || alert %> -->
<%# flash[:notice] || flash[:alert] %>
